---
layout: layouts/base.njk
section: blog
pagination:
    data: collections.post
    size: 10
    alias: posts
    reverse: true
permalink: "/blog/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber }}/{% endif %}index.html"
eleventyNavigation:
  key: Blog
  order: 2
eleventyComputed:
    metaTitle: Dhananjay Hegde's Blog
    metaDescription: Best SAP ABAP, Fiori tutorials in 2024, how-tos, RESTful Application Programming tutorials, OData v2, v4, Web Development, thoughts, travels and musings
---

<h1>Colleciton of thoughts and learnings...</h1>
<p>This is a documentation of everything that I am learning and my thoughts on various topics. I hope this will be
    helpful for someone. Or, an enjoyable read, at the least. Go take a dip!</p>
<h2>Latest Posts</h2>
<hr>
    {{ layoutContent | safe }}
    {% set postslist = posts %}
    {% include "components/postslist.njk" %}
    {% include "components/social-share.njk" %}
    <nav class="post-list-pagination" aria-labelledby="my-pagination-links">
        {% if page.url != pagination.href.first %}
            <a href="{{ pagination.href.first }}" {% if page.url == pagination.href.first %} aria-current="page" {% endif %}>
                <i class="fa-solid fa-angles-left"></i>
            </a>
        {% endif %}
        {%- for pageEntry in pagination.pages %}
            <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>{{ loop.index }}</a>
        {%- endfor %}
        {% if page.url != pagination.href.last %}
            <a href="{{ pagination.href.last }}" {% if page.url == pagination.href.last %} aria-current="page" {% endif %}>
                <i class="fa-solid fa-angles-right"></i>
            </a>
        {% endif %}
    </nav>