<ul class="category-filter">
    {% for cat in collections.categoryList %}
        <li>
            <a href="/category/{{ cat.name }}">{{ cat.name }}</a>
            <span class="post-count">({{ cat.postCount }})</span>
        </li>
    {% endfor %}
</ul>