<section class="layout__compact">
    {% for post in postslist %}
        <article class="post-list" {% if post.url == url %} data-current="current item" {% endif %}>
            <h3>
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h3>
            <div class="metadata">
                <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time>
                {% set tags = post.data.tags %}
                <div class="tag-list">{% include "components/tag-list-inline.njk" %}</div>
            </div>
            {% if post.data.excerpt %}
                <p>
                    {{ post.data.excerpt }}
                </p>
            {% endif %}
        </article>
    {% endfor %}
</section>