<ul class="year-filter">
    {% for year in collections.postYearList %}
        <li>
            <a href="/year/{{ year.year }}">{{ year.year }}</a>
            <span>({{ year.postCount }})</span>
        </li>
    {% endfor %}
</ul>