<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">
    {% include "components/head.njk" %}
    <body>
        <div class="site">
            <header class="site-header">
                <div class="site-title">
                    <a href="{{ '/' | url }}">{{ metadata.title }}</a>
                </div>
                {% include "components/nav.njk" %}
            </header>
            <main class="site-main-conatiner">
                <div class="main-content layout__cozy">
                    {{ layoutContent | safe }}
                </div>
                <div class="main-sidebar">
                    <h2 class="sidebar-header">By Topic</h2>
                    {% include "components/category-filter.njk" %}
                    <h2 class="sidebar-header">By Year</h2>
                    {% include "components/year-filter.njk" %}
                </div>
            </main>
            {% include "components/footer.njk" %}
        </div>
    </body>
</html>