---
layout: layouts/base.njk
section: post
---

<article class="layout__cozy">
  <div class="hero">
    <h1 class="title">{{ title }}</h1>
    <div class="metadata">
      <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time>
      <div class="tag-list">{% include "components/tag-list-inline.njk" %}</div>
    </div>
  </div>
  {{ layoutContent | safe }}
  <div class="metadata">
    <div class="tag-list">{% include "components/tag-list-inline.njk" %}</div>
  </div>
</article>
{% set previousPost = collections.post | getPreviousCollectionItem %}
{% set nextPost = collections.post | getNextCollectionItem %}
<nav class="content-footer" aria-label="pagination">
  {% if previousPost %}
    <a href="{{ previousPost.url }}">&larr; Previous</a>
  {% endif %}
  <a href="{{ '/blog/' | url }}">All Posts</a>
  {% if nextPost %}
    <a href="{{ nextPost.url }}">Next &rarr;</a>
  {% endif %}
</nav>